<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066886691623-f9uo4lurpf8vfrfk9k461qhakdpashjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066886691623-f9uo4lurpf8vfrfk9k461qhakdpashjb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1066886691623-lf34n1fmh3hiomril2te4vt4jc26qenh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhhcaAIlhF899s5vJCWV3EQAH1DB2IvU4</string>
	<key>GCM_SENDER_ID</key>
	<string>1066886691623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahmoud.barberBooking</string>
	<key>PROJECT_ID</key>
	<string>barber-shop-27639</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-shop-27639.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066886691623:ios:e07f78bd6f0fa0ea5a4702</string>
</dict>
</plist>